/* CSS layout */

body {
	text-align: justify;
	font: 15px Arial, Helvetica, sans-serif;
	color: #626262;
	background-color:  #fff9f1 !important;
}

h1, h1 a, h2, h2 a, h3, {
	text-decoration: none;
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #111111;
}

h1 {
	letter-spacing: -1px;
	font-size: 1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
	letter-spacing: -1px;
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

IMG.displayed{
	display: block;
	margin-left: 150px;
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#table-scroll {
  height:400px;
  overflow:auto;
  margin-top:20px;
}
#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#page {
	background:  #fff9f1 !important;

}

#up {
	margin-left: 150px;
}

#down{
	margin-left: 180px;
}

#Final{
	margin-left: 100px;
}


#footer p {
	clear: both;
	padding: 10px 0 10px 0;
	background: #757575;
	text-align: center;
	font-size:1em;
	color: #BABABA;
	height: 20px;
}

#footer a{
	color: #BABABA;
}