{% extends "_base.html" %}

{% block title %}
        Random
{% endblock %}

{% block pageblock %}

        <div id="up">
                <h1>How many iterations? <br/><br/></h1>
        </div>

        <div id="down">
                <form id="stats" method="post" action="/AAPL">
                          <label for="stocks">Choose a stock:</label>
                          <select name="stocks_name" id="stocks">
                            <option value="AAPL">AAPL</option>
                            <option value="AMZN">AMZN</option>
                            <option value="BABA">BABA</option>
                            <option value="BTC-GBP">BTC-GBP</option>
                          </select>
                          <br><br>
                        <h4>Insert moving average period: <input type="text" name="key1" /><br/></h4>
                        <h4>Insert VAR period: <input type="text" name="period" /><br/></h4>
                        <h4>Insert number of VAR Monte Carlo samples: <input type="text" name="s" /><br/></h4>
                        <label for="R">degree of parallelism</label>
                          <select name="R" id="R">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                          </select>
                        <h4><input type="submit" name="draw" value="Submit" /></h4>
                </form>



        </div>
        {% if note %}
        <script>
                window.onload = function () {

                var mylist = {{ note }};
                signalname = {{signal_name | tojson}}
                var myVAR = {{VAR}};
                var closing_values = {{signal_price}};
                var dataPoints = [];
                var Total = {{MoveAvg}}
                var profit_loss = {{profit_loss}}
                var MovAvg = [];
                var current_position;

                for (var i =0; i < mylist.length; i++){
                      var table = document.getElementById("myTable");
                      var row = table.insertRow(i+1);
                      var cell1 = row.insertCell(0);
                      var cell2 = row.insertCell(1);
                      var cell3 = row.insertCell(2);
                      var cell4 = row.insertCell(3);
                      cell1.innerHTML =  signalname[i];
                      cell2.innerHTML = "$ " + closing_values[i].toFixed(4);

                      if (myVAR[i] == 0){
                            cell3.innerHTML = "N/A";
                            cell4.innerHTML = "N/A";
                      } else {
                            cell3.innerHTML ="$ " + profit_loss[i].toFixed(4);
                            cell4.innerHTML ="$ " + myVAR[i].toFixed(4);
                      }

                }

                var chart1 = new CanvasJS.Chart("chartContainer1", {
                    animationEnabled: true,
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    exportEnabled: true,
                    zoomEnabled: true,
                    title: {
                        text: "{{Name}}"
                    },
                    subtitles: [{
                        text: "Weekly Averages"
                    }],
                    axisX: {
                        interval: 1,
                        valueFormatString: "MMM"
                    },
                    axisY: {
                        includeZero: false,
                        prefix: "$",
                        title: "Price",
                        stripLines:[
                            {
                                value: current_position
                            }
                        ]
                    },
                    data: [{
                        type: "candlestick",
                        toolTipContent: "Date: {x}<br /><strong>Price:</strong><br />Open: {y[0]}, Close: {y[3]}<br />High: {y[1]}, Low: {y[2]}",
                        yValueFormatString: "$##0.00",
                        dataPoints: dataPoints
                    },{
                        type: "line",
                        toolTipContent: "Date: {x}<br /><strong>Price:</strong><br />Average: {y}",
                        yValueFormatString: "$##0.00",
                        dataPoints: MovAvg
                    }]

                });

                $.get("https://natchstocks.s3.amazonaws.com/{{Name}}.csv", getDataPointsFromCSV);

                function getDataPointsFromCSV(csv) {
                    var csvLines = points = [];
                    csvLines = csv.split(/[\r?\n|\r|\n]+/);
                    for (var i = 0; i < csvLines.length; i++) {
                        if (csvLines[i].length > 0) {
                            points = csvLines[i].split(",");
                            dataPoints.push({
                                x: new Date(
                                    parseInt(points[0].split("/")[2]),
                                    parseInt(points[0].split("/")[1]),
                                    parseInt(points[0].split("/")[0])
                                ),
                                y: [
                                    parseFloat(points[1]),
                                    parseFloat(points[2]),
                                    parseFloat(points[3]),
                                    parseFloat(points[4])
                                ]
                            });
                            current_position =  parseFloat(points[3]);

                        }
                    }
                    chart1.render();
                }

                $.get("https://natchstocks.s3.amazonaws.com/{{Name}}.csv", MovingAverageCalculation);

                    function MovingAverageCalculation(csv) {
                        var csvLines = points = [];
                        csvLines = csv.split(/[\r?\n|\r|\n]+/);
                        for (var i = {{mov_time}}; i < csvLines.length; i++) {
                            if (csvLines[i].length > 0) {

                                points = csvLines[i].split(",");
                                MovAvg.push({
                                    x: new Date(
                                        parseInt(points[0].split("/")[2]),
                                        parseInt(points[0].split("/")[1]),
                                        parseInt(points[0].split("/")[0])
                                    ),
                                    y: parseFloat(Total[i - {{mov_time}}])
                                });

                            }
                        }
                        chart1.render();
                    }


                }
        </script>
        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>



                <table id="myTable" class="table">
                          <tr>
                            <td>Signal Name</td>
                            <td>Buy/Sell price</td>
                            <td>profit/loss</td>
                            <td>VAR at 95%</td>
                          </tr>
                        </table>
 {% endif %}

{% endblock %}